.button {
  gap: 10px;
  display: flex;
  align-items: center;
}
div {
  box-sizing: border-box;
}
.Home {
  display: flex;
  padding: 8px 28px;
  align-items: center;
  background-color: #00000000;
  border-radius: 6px;
  border: 0;
}

.Home:hover {
  cursor: pointer;
  background-color: #ffe;
}
.Sign:hover {
  cursor: pointer;
  background-color: #387eb1;
}
.Sign {
  border-color: #387ed1;
  background-color: #387ed1;
  border-radius: 6px;
  border: 1px solid transparent;
  padding: 6px 20px;
  transition: all 0.3s var(--anim-func-ease);
  vertical-align: top;
}
@media only screen and (min-width: 1024px) and (max-width: 2900px) {
  .main {
    display: flex;
    justify-content: space-between;

    width: 85%;
    margin: auto;
  }
  .NavBar {
    position: sticky;
    top: 0px;
    background-color: rgba(255, 255, 255, 1);
    padding: 10px;
    z-index: 999;
  }
}

@media only screen and (min-width: 787px) and (max-width: 1024px) {
  .main {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: auto;
  }
  .NavBar {
    position: sticky;
    top: 0px; 
    background-color: rgba(255, 255, 255, 1);
    padding: 10px;
    z-index: 999;
  }
}

@media only screen and (max-width: 786px) {
  .main {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto;
  }
  .NavBar {
    position: sticky;
    top: 0px; 
    background-color: rgba(255, 255, 255, 1);
    padding: 10px;
    z-index: 999;
  }
  .button {
    gap: 2px;
    display: flex;
    align-items: center;
  }
  
}